.titulo {
    color: #009A3D;
    font-weight: bold;
    margin-top: 20px;
    display: table-cell;
    width: 10000px;
}

.panel-body-view {
    padding: 15px 0px;
}

.usuario {
    margin: 10px 0px 10px 0px;
}

.margin10 {
    margin-bottom: 10px!important;
}

.margin20 {
    margin-bottom: 20px;
}

.margin30 {
    margin-bottom: 30px;
}

.fecha {
    margin-top: 5px;
}

.encabezados {
    color: #aaa;
}

.ingredientes {
    color: #aaa;
    display: table-cell;
    width: 10000px;
}

.cont-ingred {
    margin-top: 20px;
}

.comensales {
    display: table-cell;
    color: #aaa;
    white-space: nowrap;
}

.pasos {
    margin-bottom: 25px;
}

.div-pasos {
    padding-left: 40px;
}

.numeros {
    margin-left: -25px;
    padding-right: 4px;
}

.div-pasos .encabezados {
    margin-left: -25px;
}

.imagenes-pasos {
    padding: 0px;
    margin-top: 8px;
}

.pasos .row img {
    cursor: pointer;
}

.categoria {
    margin-top: 10px;
}

.panel-body {
    color: #000;
}

.iconos {
    /*border: 1px solid black;*/
    padding: 0px;
    margin-bottom: 10px;
    color: #b1b1b1;
    font-size: 0.85em;
}

p.text-center {
    margin: 0px;
}

.icono-imagen > .img-responsive {
    margin: 0 auto;
}

.row {
    margin: 0px;
}

.gris {
    color: #999;
}
